<h1>New Account</h1>


<div class="row">
  <div class="col-xs-6">
    <%= render 'form', account: @account, url: "/accounts", form_type: :post  %>
  </div>
</div>
<%= link_to 'Back', accounts_path %>
